<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.mycom.myboard.adapter.out.persistence.UserMapper">

	<select id="selectUser" parameterType="com.mycom.myboard.adapter.out.persistence.entity.UserEntity" resultType="com.mycom.myboard.adapter.out.persistence.entity.UserEntity">
		SELECT *
		  FROM public.user
 		 WHERE USER_EMAIL = #{userEmail}
		   AND USER_PASSWORD = #{userPassword}
	</select>

</mapper>